@media screen and (min-width: 992px) {
	#mobile-nav {
		display: none;
	}
	#desktop-nav {
		display: block;
		width: 100%;
		border-bottom: 1px solid rgba(255, 255, 255, 0.3) !important;
		ul {
			padding: 0;
			margin: 0;
        	list-style: none;
        	position: relative;
			top: 50%;
			transform: translateY(-50%);
			text-transform: uppercase;
			font-size: 1em;
			font-weight: bold;
			color: #fff;
    	}
    	.btn-primary {
    		position: relative;
    		top: -8px;
    		background-color: transparent;
    		border: 3px solid #f0f0f0;
    	}
    	li {
    		a {
    			color: #fff !important;

    			&:hover {
    				text-decoration: none !important;
    			}
    		}
        	float: left;
        	margin-left: 12px;
        	&:hover {
        		cursor: pointer; cursor: hand;
        	}
    	}

	}

}
